
# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# SQLite database files
*.db

# Logs
*.log

# IDE-specific files
.idea/
.vscode/

# Test coverage reports
htmlcov/
.coverage
*.cover

# Pytest cache
.pytest_cache/

# Temporary files
*.tmp
*.swp
*.bak
*.orig
*.DS_Store